*{
    margin: 0;
    box-sizing: border-box;
}

input[type="file"]::-webkit-file-upload-button {
    visibility: hidden;
  }
  input[type="file"]::before {
    content: 'Choose File';
    color: black;
    display: inline-block;
    background: white;
    border: 1px solid #ccc;
    padding: 5px 10px;
    border-radius: 5px;
  }
  input[type="file"] {
    color: transparent;
  }

  .header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 200px;
    position: fixed;
    width: 100%;
    top: 0;
    
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 1px 3px 0px #00000033;
    
    box-shadow: 0px 2px 1px 0px #0000001F;

    box-shadow: 0px 1px 1px 0px #00000024;
    
    img{
        width: 80px;
        height: 80px;
        
    }
    .header1{
        ul{
            display: flex;
            list-style-type: none;
            gap: 30px;
            li{
               a{
                font-weight: 400;
            font-size: 18px;
            font-family: "Be Vietnam Pro", sans-serif;
                
                color: #000000;
                text-decoration: none;

               }
               a:visited {
                color: none; /* Màu của link sau khi đã được click */
            }
            a:hover{
                color: #E84949;
                text-decoration: underline;
            }
            }
          
        }
        .soc{
          display: none;
        }
    }
}

.body1{
   margin-left: 200px;
   width: calc(100% - 400px);
   margin-top: 200px;

}

.file-upload {
    background-color: #ffffff;
    width: 600px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .file-upload-btn {
    width: 100%;
    margin: 0;
    color: #fff;
    background: #1FB264;
    border: none;
    padding: 10px;
    border-radius: 4px;
    border-bottom: 4px solid #15824B;
    transition: all .2s ease;
    outline: none;
    text-transform: uppercase;
    font-weight: 700;
  }
  
  .file-upload-btn:hover {
    background: #1AA059;
    color: #ffffff;
    transition: all .2s ease;
    cursor: pointer;
  }
  
  .file-upload-btn:active {
    border: 0;
    transition: all .2s ease;
  }
  
  .file-upload-content {
    display: none;
    text-align: center;
  }
  
  .file-upload-input {
    position: absolute;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    outline: none;
    opacity: 0;
    cursor: pointer;
  }