*{
    margin: 0;
    box-sizing: border-box;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 200px;
    position: fixed;
    width: 100%;
    top: 0;
    
    background-color: #FFFFFF;
    box-shadow: 0px 1px 3px 0px #00000033;
    
    box-shadow: 0px 2px 1px 0px #0000001F;

    box-shadow: 0px 1px 1px 0px #00000024;
   
    img{
        width: 80px;
        height: 80px;
    }
    .header1{
        ul{
            display: flex;
            list-style-type: none;
            gap: 30px;
            align-items: center;
            li{
                a{
                    font-weight: 400;
                font-size: 18px;
                font-family: "Be Vietnam Pro", sans-serif;
                    cursor: pointer;
                    color: #000000;
                    text-decoration: none;
    
                   }
                   a:visited {
                    color: none; /* Màu của link sau khi đã được click */
                }
                a:hover{
                    color: #E84949;
                    text-decoration: underline;
                }
            }
          
        }

        .soc{
            display: none;
          }
    }
}

.pay{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    padding: 8px 16px;
    gap: 0px;
    border-radius: 4px;
    border: none;
    color: #343D68;
    background-color: #FFFFFF;
    font-family: "Be Vietnam Pro";
    font-weight: 400;
    font-size: 18px;
    line-height: 26.3px;
    text-align: center;
    cursor: pointer;
    }
    .pay:hover{
        color:  #E84949;
            background-color: #FFFFFF;
    }
    
    .bill{
        display: none;
        
    }

    .showcurrentbill{
        display: none;
    }

.w-80{
    width: calc(100% - 400px);

}

.mg-auto{
    margin-top: 200px;
    margin-left: 200px;
}

.j-c{
    justify-content: space-between;
}

.flex{
    display: flex;

}

.bo{
    border-radius: 10px;
     box-shadow: 0px 1px 3px 0px #00000033;
                box-shadow: 0px 2px 1px 0px #0000001F;
                box-shadow: 0px 1px 1px 0px #00000024;
}

.padd{
    padding: 50px;
}

.g-30{
    gap: 30px;
}
    

.text{
    text-align: left;
}

.col{
    flex-direction: column;
}

.w-100{
    width: 100%;

}

.w-20{
    width: 20%;
}

.w-85{
    width: 85%;
}

#cha1{
    padding: 30px;
    color: #FFFFFF;
    background-color: #E84949;
    font-family: "Be Vietnam Pro";
    font-weight: 400;
    font-size: 18px;
    line-height: 26.3px;
}

.pay1{
    position: relative;
    left: 50%;
    
    transform: translateX(-50%);
    padding: 8px 16px;
                gap: 0px;
                border-radius: 4px;
                border: none;
                color: #FFFFFF;
                box-shadow: 0px 1px 5px 0px #00000033;
                box-shadow: 0px 3px 1px 0px #0000001F;
                box-shadow: 0px 2px 2px 0px #00000024;
                background-color: #343D68;
                font-family: "Be Vietnam Pro";
                font-size: 14px;
                overflow: hidden;
                text-align: center;
                cursor: pointer;
}
.pay1:hover{
    color:  #343D68;
    background-color: #FFFFFF

}

.pay1:active{
    color: #FFFFFF;
    background-color: #343D68;
}


body {
    font-family: 'Poppins', sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
  }
  
  .frame {
    text-align: center;
    padding: 2em;
  }
  
  header h2,
  header h1 {
    margin: 0;
  }
  
  .grid {
    display: flex;
    justify-content: center;
    margin-top: 2em;
  }
  
  .buttons {
    gap: 1em;
  }
  
  
  
  #modal-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 1000;
  }
  
  .modal-background {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .modal {
    background: white;
    border-radius: 5px;
    padding: 2em;
    text-align: center;
    position: relative;
    z-index: 1001;
    animation: reveal 0.5s forwards;
  }
  
  .modal-svg rect {
    stroke: #fff;
    stroke-width: 2;
  }
  
  .modal-active #modal-container {
    display: flex;
  }
  
  @keyframes reveal {
    from {
      transform: scale(0.5);
      opacity: 0;
    }
    to {
      transform: scale(1);
      opacity: 1;
    }
  }
  
  .out {
    animation: hide 0.5s forwards;
  }
  
  @keyframes hide {
    from {
      transform: scale(1);
      opacity: 1;
    }
    to {
      transform: scale(0.5);
      opacity: 0;
    }
  }
  
